---
import Layout from '@/layouts/main.astro';
import AnimeCard from '@/components/anime-card.astro';
import Pagination from '@/components/pagination.astro';
import type {
  Anime,
  Manga,
  Character,
  Pagination as IPagination,
} from '@/lib/types';
import { createAnimeApiUrl } from '@/lib/parse-queries';
import { apiFetch } from '@/lib/utils/fetch';
import { getOrCreateUserId } from '@/lib/utils';

let data: {
  data: (Anime | Manga | Character)[];
  pagination: IPagination;
} = {
  data: [],
  pagination: {
    current_page: 1,
    has_next_page: false,
    last_visible_page: 1,
    items: {
      count: 0,
      total: 0,
      per_page: 0,
    },
  },
};
const url = new URL(Astro.request.url);
const animeApiUrl = createAnimeApiUrl(url);

let errorType: string;
const result = await apiFetch(animeApiUrl);
if (!result.success) {
  errorType = result.error?.message;
  console.error(errorType);
} else {
  data = await result.data;
}

const { userId, userType } = await getOrCreateUserId(Astro);
---

<Layout title={url.searchParams.get('q') ?? ''}>
  <div>
    <p class="text-black text-lg mt-4 ml-10">
      Search results for {url.searchParams.get('q')}
    </p>
  </div>
  <div class="grid auto-fill-grid">
    {
      data.data.length ? null : (
        <p class="text-black ml-10">Hello darkness my old friend...</p>
      )
    }
    {
      data.data.map((anime) => {
        if ('episodes' in anime) {
          return (
            <AnimeCard anime={anime} userId={userId} userType={userType} />
          );
        }
      })
    }
  </div>
  <div class="text-black flex justify-center mt-10">
    <Pagination
      value={data.pagination.current_page}
      count={data.pagination.last_visible_page || 0}
      url={url}
    />
  </div>
</Layout>
