---
import { Image } from "astro:assets";
import type { Anime } from "@/lib/schemas/anime";
import Icon from "astro-icon";
import { idxToMonth } from "@/lib/utils";
interface Props {
  anime: Anime;
}

const { anime } = Astro.props;
---

<div
  class="group w-72 mx-auto overflow-hidden rounded-md duration-300 shadow-lg hover:shadow-2xl my-4"
>
  <div class="h-40 overflow-hidden">
    <Image
      class="duration-200 group-hover:scale-110 object-cover"
      src={anime.images.jpg.large_image_url}
      width={290}
      height={50}
      alt="Shoes"
    />
  </div>
  <div class="px-6 pt-4 pb-8 text-black">
    <div class="flex text-gray-500 text-sm font-semibold">
      {
        anime.aired?.prop?.from?.month ? (
          <>
            {idxToMonth.at(anime.aired.prop.from.month - 1)}
            {anime.aired.prop.from.day}, {anime.aired.prop.from.year}
          </>
        ) : (
          "N/A"
        )
      }
      <p>
        &nbsp;
        <span class="font-bold">|</span>
        &nbsp;
        {
          anime.type === "TV" ? (
            <>
              <span class="font-semibold">Episodes:</span> {anime.episodes}
            </>
          ) : (
            anime.type
          )
        }
      </p>
    </div>
    <h3 class="font-inter text-lg mt-3 mb-5">{anime.title}</h3>
    <p class="text-clip mb-3">{anime.synopsis}</p>

    <button
      class="text-blue-500 font-medium flex gap-x-1 items-center text-sm hover:bg-neutral-50 hover:text-blue-600 px-3 py-2 rounded-md relative right-3"
    >
      Read more
      <Icon pack="ri" name="arrow-right-line" class="w-4 relative top-[1px]" />
    <button>
  </div>
</div>
